a {
  text-decoration: none;
}

a:hover {text-decoration:underline;}

.rounded {
	-moz-border-radius: 6px; 
	-webkit-border-radius: 6px;
}

.hidden {
	display: none !important;
}

body {
     margin:0px;
     padding: 0px;
     background:#6B9CD6;
     font-family: sans-serif;
     font-size: 12pt;
     color:#FFFFFF;
}

#loading {
	background-image: url('../ajax-loader.gif');
	height: 32px;
	margin: 10px auto;
	width: 32px;
}

#ajax-busy {
	background-image: url('../ajax-loader3A6BA3.gif');
	display: inline-block;
	height: 16px;
	margin-left: 10px;
	width: 16px;
}

#surveyheader {
	padding: 5px 5px 10px 20px;
	background-color: #3A6BA3;
}

#survey_title {
	display: inline-block;
}

#exit, #exit-save {
  float: right;
  margin-bottom: 1em;
}

#progress {
  background-color: #3A6BA3;
  padding-bottom: 10px;
  padding-left: 20px;
}

#surveybody {
    padding:10px 20px 5px;
}

#questions {
	margin-top: 10px;
}

#question {
  padding: 10px 20px 10px 30px;
}

.question-title {
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 4px;
}

#buttons {
	margin-bottom: 20px;
}

#restore, #restart {
  width: 20em;
}

button {
  cursor: pointer;
  font-size: 1em;
  margin-bottom: 0.5em;
  padding: 5px;
}

.rewind .ui-button-text { 
	padding: 0em 0.5em;
	font-size: 11pt; 
}

#next {
  min-width: 6em;
}

#submit_answers {
  color: blue;
}

.end-page-button {
 width: 11em;
}

#surveyheader h1, h2, h3 {
    padding-top: 0px;
    margin-top: 0px;
    padding-bottom: 3px;
    margin-bottom: 0px;
}

.small {
    font-size: 10pt;
}

#context {
    padding: 5px;
    margin-bottom: 8px;
    margin-top: 1em;
}

#contextdetails {
    font-weight: bold;
}

#contextdescription {
    border:1px solid;
    font-size:16pt;
    font-weight:bold;
    margin:25px 10px;
    padding:10px;
}

#de-identified-message {
	background:#3A6BA3;
	border: 1px solid black;
	padding: 5px;
	text-align:center;
	width:400px; 
}

.answers {
	border-left: 1px solid #666;
	display: inline-block;
	margin-bottom: 30px;
    margin-left: 35px;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.answers.grid {
	border-left: none;
}

.answer-text {
	cursor: pointer;
}

.grid {
	border-collapse: collapse;
	margin-top: 10px;
}

.grid-header {
	padding: 2px 5px;
}

.sub-question-title {
	padding: 5px;
}

.sub-question-text {
	font-weight: bold;	
	padding: 0;
}

.sub-question.even-row {
	background-color: #4981C1;
}

.grid-td {
	text-align: center;
}

.summary-question {
	font-weight:bold;
}

.summary-answer {
	margin-left: 10px;
}

#completedMessage {
	font-size: 14pt;
	text-align: center;
}

#footer {
	margin-top: 2em;
	text-align: center;
}

#dialog {
	display: none;
}

.validation-error {
	border: 1px solid #cd0a0a;
}

.ui-state-error {
	display: none;
	float: left;
	margin-right: 3px;
}
