<% for(var i=0; i<question.answers.length; i++) { %>
	<div class="answer">
		<input type="radio" class="answer-selector" name="selections" data-answerIndex="<%= i %>"
		<% if (question.answers[i].selected || question.answers[i].matches(question.get_choice(currentAnswer))) { %> checked <% } %>/> 
		<%= $.View("//survey/views/answer/genericAnswer.ejs", {answer:question.answers[i], currentAnswer:(currentAnswer.choice) ? currentAnswer.choice : {}}) %>
	</div>
<% } %>


